@font-face {
	font-family: 'Poppins';
	src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: 'Syne';
	src: url(/fonts/Syne-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

:root {
	--fnt-family-Poppins: "Poppins";
	--fnt-family-Syne: "Syne";
	--fnt-size-s: 1rem;
	--fnt-size-md: 2rem;
	--fnt-size-lr:3rem;
	--fnt-clr-white: #FFFF;
	--fnt-clr-secondary: #FE6839;
	--fnt-clr-primary: #282828;
	--fnt-weight-100: 500;
}

.hero-wrapper {
	background: #282828;
	max-width: 1920px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
}

.hero-company{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 120px;
	gap: 3rem;
	width: 50%;
}

.hero-company__logo {
	position: relative;
}

.hero-company__logo :nth-child(3) {
	position: absolute;
	left: 27px;
}

.hero-company__logo :nth-child(4) {
	position: absolute;
	left: 27px;
	top: 21px
}

.hero-links {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap:2rem;
	
}

.hero-links > li  {
	height:auto;
	width: auto;
}

.hero-links > li > a {
	color: var(--fnt-clr-white);
	font-family: var(--fnt-family-Poppins);
	font-size: var(--fnt-size-s);
	text-transform: capitalize;
}

.--add-border {
	border-radius: 50px;
	border: 1px solid #FE6839;
	width: 150px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-wrapper {
	width: 100%;
	display: flex;
	height: auto;
	align-items: start;
	margin-top: 150px;
	margin-bottom: 170px;
	gap:18rem
}

.content__img_wrapper {
	display: flex;
	width: 50%;
}

.content__img {
	width: 90%;
	height: 568px;
}

.content__text {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-right: 10rem;
	gap:2rem;
}

.content__text > h1 {
	font-size: var(--fnt-size-lr);
	font-family: var(--fnt-family-Syne);
	line-height: 60px;
	color: var(--fnt-clr-white);
}

.content__text > p {
	font-size: var(--fnt-size-s);
	font-family: var(--fnt-family-Poppins);
	color: var(--fnt-clr-white);
	line-height: 30px;
	width: 60%;
}

.content__text > a {
	font-size: var(--fnt-size-s);
	font-family: var(--fnt-family-Poppins);
	color: var(--fnt-clr-white);
	text-transform: capitalize;
}

