@import "/styles/globals.css";

/* HERO SECTION */

.hero-wrapper {
  background: #282828;
  max-width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-image: url("/images/hero/Line-longer-2.svg"),
    url("/images/hero/Vector\ 29.svg"), url("/images/hero/Vector\ 30.svg"),
    url("/images/hero/hero-right-bottom-shadow.svg"),
    url("/images/hero/hero-right-bottom-rectangle.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 40% center, bottom left, bottom right, bottom right,
    bottom right;
  gap: 10rem;
  margin: 0px auto;
}

nav {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding: 0px 6rem;
}

.hero-company {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 140px;
  gap: 3rem;
  width: 50%;
  margin-inline: auto;
}

.hero-company__logo {
  position: relative;
  width: auto;
}

.hero-company__logo img:nth-child(3) {
  position: absolute;
  left: 27px;
}

.hero-company__logo img:nth-child(4) {
  position: absolute;
  left: 27px;
  top: 21px;
}

.hero-links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-inline: auto;
}

.hero-links > li {
  height: auto;
  width: auto;
}

.hero-links > li > a {
  color: var(--fnt-clr-white);
  font-family: var(--fnt-family-Poppins);
  font-size: var(--fnt-size-s);
  text-transform: capitalize;
}

.li--opacity-70 {
  opacity: 70%;
}

.links__home {
  display: flex;
  gap: 1rem;
}

.--add-border {
  border-radius: 50px;
  border: 1px solid #fe6839;
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-wrapper {
  display: flex;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
}

.content__img_wrapper {
  max-width: 1000px;
  max-height: 570px;
  display: grid;
  place-items: center;
  display: inline-block;
  position: relative;
}
.content__img {
  width: 100%;
  height: 100%;
  overflow: auto;
  object-fit: cover;
}

.content-wrapper {
  flex: 1 0 50%;
  height: auto;
  display: grid;
  justify-items: center;
  align-self: start;
}

.content__text {
  width: 65%;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  gap: 2rem; /* 32px */
}

.content__text > h1 {
  font-size: var(--fnt-size-lr);
  font-family: var(--fnt-family-Syne);
  line-height: 60px;
  color: var(--fnt-clr-white);
}

.text__span {
  color: var(--fnt-clr-secondary);
}

.content__text > p {
  font-size: var(--fnt-size-s);
  font-family: var(--fnt-family-Poppins);
  color: var(--fnt-clr-white);
  line-height: 30px;
  width: 50%;
}

.content__text > a {
  font-size: var(--fnt-size-s);
  font-family: var(--fnt-family-Poppins);
  color: var(--fnt-clr-white);
  text-transform: capitalize;
}

.rectangle-left {
  position: absolute;
  transform: translate(-350%, -50%);
  backdrop-filter: blur(6px);
}

.round-center {
  position: absolute;
  background: #ffffff1a;
  border-radius: 140px;
  transform: translate(-50%, 200%);
  backdrop-filter: blur(6px);
}

/* HERO SECTION */

/* WHAT WE DO SECTION */

.whatwedo-main {
  background: #eaeaea;
  max-width: 1920px;
  width: 100%;
  height: 818px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}

.whatwedo-title {
  color: #8d8d8d;
  font-family: var(--fnt-family-Poppins);
  font-size: 20px;
  font-weight: 500;
  width: 400px;
  text-align: center;
  padding-top: 130px;
}

.whatwedo-content {
  margin-top: 130px;
}
.whatwedo-content > h1 {
  font-size: 45px;
  font-weight: 600;
  font-family: var(--fnt-family-Syne);
  line-height: 54px;
  color: #282828;
  width: 614px;
}

.whatwedo-content > ul {
  font-family: var(--fnt-family-Poppins);
  margin-top: 40px;
}

.whatwedo-content-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.list-el {
  display: flex;
  align-items: center;
  gap: 20px;
}

.list-num {
  font-size: 30px;
  color: #c2c2c2;
  width: 36px;
}

.list-description {
  width: 468px;
  font-weight: 400;
  color: #282828;
}

.learn-more-btn1 {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
  border-width: 1px;
  border-color: #282828;
  border-radius: 50px;
  width: 190px;
  padding: 20px 19px 20px 25px;
  background: transparent;
}
.whatwedo-content-image {
  position: relative;
  height: 818px;
}

.dotty-cover {
  position: absolute;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(8px);
  width: 801px;
}

.text-container {
  position: absolute;
  bottom: 0;
  color: #f9f9f9;
  width: 676px;
  height: 114px;
  margin-left: 70px;
  margin-bottom: 50px;
}

.content-image-text {
  font-family: var(--fnt-family-Syne);
  font-size: 40px;
}

.image-text-span {
  font-family: var(--fnt-family-Poppins);
  font-size: 28px;
}

.whatwedo-wrapper {
  background: #fe6839;
  max-width: 1920px;
  width: 100%;
  height: 262px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}

.line-image {
  color: #f9f9f9;
  margin-top: 90px;
  margin-left: 120px;
}

.whatwedo-wrapper-title {
  font-family: var(--fnt-family-Syne);
  font-size: 45px;
  color: #f9f9f9;
  font-weight: 600;
  width: 840px;
  margin-top: 70px;
  margin-right: 50px;
}

.learn-more-btn2 {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  color: #f9f9f9;
  margin-top: 70px;
  border-width: 1px;
  border-color: #f9f9f9;
  border-radius: 50px;
  width: 190px;
  padding: 20px 19px 20px 25px;
  background: transparent;
  margin-right: 250px;
}
